<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
        <add key="PathToWatch" value="download-dir"/>
        <add key="DocumentsPath" value="doc-dir/{0}"/>
        <add key="PhotosPath" value="photo-dir/{0}"/>
        <add key="OthersPath" value="others-dir/{0}"/>
        <add key="MusicPath" value="music-dir\{0}"/>
    </appSettings>
</configuration>